
NES/CPU/CPU.xcodeproj/project.xcworkspace/xcuserdata/valchu.xcuserdatad/UserInterfaceState.xcuserstate

NES/CPU/CPU.xcodeproj/project.xcworkspace/xcuserdata/Eden.xcuserdatad/UserInterfaceState.xcuserstate
